*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #474747;
  }
  
.navbar{
    width: 100vw;
    background: rgba(255, 255, 255, 0.854);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 3;
}
.nav-item{
    font-size: 1.1rem;
}
.reg-box{
  background: rgb(255, 255, 255);
}

form {
    /* border: 1px solid #d3cccc48; */
    padding: 30px 64px; 
    width: 70vw;
}
.marketing{
  transform: scale(0.9);
}
.marketing img{
    cursor: pointer;
    filter: saturate(1.2);
}
.marketing img:hover{
    cursor: pointer;
    filter: saturate(1);
}
.about {

  width: 65vw;
  /* height: 500px; */
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.849);
  padding: 0 100px;
  backdrop-filter: blur(15px);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}
.about p{
  padding: 10px 100px;
}


.card2 {
  margin: 50px;
  border-radius: 10px;
  /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); */
  /* width: 600px; */
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card2 h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form{
  display: flex;
  flex-direction: column;
}